{% extends 'base.html' %}}
{% load services_tags %}

{% block title %}{{ title }} :: {{ block.super }}{% endblock %}

{% block content %}
    <table>
        <tr>
            <td colspan="top">
                {% show_services_sidebar %}
            </td>

            <td>

                <h1>{{ title }}</h1>
                <p><img src="{{ service.photo.url }}" alt="" width="500"></p>
                <h3>Название услуги: {{ service.title }}</h3>
                {% if new_price %}
                    <h3>Цена: {{ new_price }} у.е.</h3>
                {% else %}
                    <h3>Цена: {{ service.price }} у.е.</h3>
                {% endif %}

                <h3>Категория услуги: <a href="{{ service.category.get_absolute_url }}">{{ service.category }}</a></h3>
                <hr>
                <h3>Описание услуги: </h3>{{ service.description|safe }}
                <hr>
                <h3>Характеристики: </h3>{{ service.specifications|safe }}

            </td>

        </tr>
    </table>
{% endblock %}
